html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(241, 241, 241);
    color: rgb(49, 49, 49);
	font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgb(161, 161, 0);
}

.boxCabecalho {
    width: 940px;
    margin: 0 auto;
    height: 8em;
    display: flex;
    align-items: center;
}

.boxCabecalho h1 {
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-left: 10px;
    width: 60%;
}

.boxCabecalho nav {
    width: 40%;
}

#btn-mobile {
    display: none;
}

.boxCabecalho li {
    display: inline-block;
    margin-right: 1.5em;
    font-size: 18px;
}

.boxCabecalho li:hover {
    font-size: 25px;
    color: white;
    transition: 0.5s;
}

.banner {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.img {
    width: 25%;
    border-radius: 1%;
}

.principal {
    width: 940px;
    margin: 2em auto 0;
}

.tituloPrincipal {
    text-align: center;
    font-size: 25px;
    margin-bottom: 1em;
    font-weight: 600;
}

.adocao{
    width: 940px;
    margin: 7em auto 0;
}

.mapa {
    width: 940px;
    margin: 7em auto 7em;
}

.mapinha {
    text-align: center;
}

footer {
    background-color: rgb(161, 161, 0);
    width: 100%;
    height: 12em;
    display: flex;
    align-items: center;
}

.rodape {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
	.boxCabecalho, .principal, .adocao, .mapa{
		width: auto;
	}
 
    .boxCabecalho h1 {
        font-size: 30px;
    }

    .boxCabecalho li {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .boxCabecalho li:hover {
        font-size: 22px;
    }
    .banner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .img {
        width: 100%;
    }

}

